*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f8ff;
}

/* Common Designes Start */
.btn-color-primary {
    color: white;
    background-color: #4E47FF;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.primary-tex-color {
    color: #4E47FF;
}
/* Common Designes End */


/* Navbar Design Start */
header {
    text-align: center;
    width: 100%;
    height: 698px;
    background-image: url('../resources/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-primary {
    width: 1140px;
    height: 151px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-primary h1 {
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 900;

}
.navbar-primary button {
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/* Navbar Design End */

/* Heaer Banner Section Start */
.header-banner {
    width: 905px;
    height: 237px;
    margin: 158px auto 152px; 
}
.header-banner h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}
.header-banner button {
    width: 174px;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-top: 37px;
}
/* Heaer Banner Section End */

/* Acion Part Design Start*/
.action-webflow {
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    font-family: 'Raleway', sans-serif;
}
.action-collumn {
    display: flex;
    justify-content: space-between;
    gap: 220px;
    align-items: center;
}
.action-collumn-1 h1 {
    font-size: 42px;
    font-weight: 700;
}
.action-collumn-1 p {
    font-size: 24px;
    color: rgb(37, 36, 50, 0.6);
    margin-top: 23px;
}
.action-collumn-1 button {
    width: 229px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 23px;
}
.action-collumn-2 img {
    border-radius: 48px;
}
/* Acion Part Design End*/

/* Productive Users Count Design Start */
.productive-users-count {
    width: 1140px;
    height: 306px;
    background-color: #e5e7ff;
    margin: 0 auto;
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
    box-sizing: border-box;
}
.productive-users-count > h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
}
.productive-users-collumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.common-header-pusr-colh {
    font-family: 'Inter', sans-serif;
    font-size:  80px;
    font-weight: 700;
    color: #4E47FF;
    margin-top: 40px;
}
.common-header-pusr-colp {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
}
/* Productive Users Count Design End */
/* Review Section Design Start */
.user-feedback {
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    text-align: center;
    margin-top: 137px;
}
.user-feedback-collumn {
    display: flex;
    text-align: left;
    font-family: 'Inter', sans-serif;
    gap: 20px;
}
.user-feedback > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #252432;
}
.user-feedback-collumn h3 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
}
.user-feedback-collumn p {
    font-size: 16px;
    color: black;
    margin-top: 8px;
}
.user-name-info {
    display: flex; 
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.reviewer-info > h3 {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin: 0;
}
.reviewer-info p {
    font-size: 16px;
    color: #B3B3B3;
    margin: 0;
}

/* Three review background */
.review-cont-3-bg {
    background-color: white;
    border-radius: 14px;
    padding: 24px;
    border: 1px solid #F2EDED;
    margin-top: 50px;
}
/* Review Section Design End */

/* Ready to Focus Section Design Start */
.ready-to-focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    height: 697px;
    margin: 140px auto;
    gap: 20px;
    background-color: white;
    padding: 71px;
    border-radius: 14px;
    box-sizing: border-box;
}
.ready-to-focus h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.ready-to-focus p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}
.ready-to-focus button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 195px;
    height: 48px;
    border-radius: 10px;
    border: none;
}
.ready-to-focus img {
    border-radius: 48px;
}
/* Ready to Focus Section Design End */

/* Contact Me Section Design Start */
.contact-me-section {
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    gap: 115px;
    justify-content: space-between; 
    align-items: center;
}
.contact-me-section h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 92px;
    font-weight: 700;
    text-align: left;
}
.contact-me-section form input,.contact-me-section form label,.contact-me-section form button {
    display: block;
}
.contact-me-section form {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.contact-me-section input[type="button"] {
    font-family: 'Raleway', sans-serif;
}
.contact-me-section form input {
    width: 497px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.contact-me-section form input, form textarea {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}
.contact-me-section form label {
    font-size: 18px;
    font-weight: 500;
}
.contact-me-section form textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}
.contact-me-section form input::placeholder {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.contact-me-section form textarea {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: 497px;
    height: 150px;
    margin-top: 10px;
}
.contact-me-section button {
    display: block; 
    width: 100%;
    height: 62px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin-top: 20px; 
}
/*Contact Me Section Design End */

/* Footer Section Design Start */
.footer-section {
    width: 100%;
    height: 428px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    padding: 100px;
    box-sizing: border-box;
}
.footer-section > div {
    max-width: 519px;
    max-height: 230px;
    margin: 0 auto;
}
.footer-section h1 {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
.footer-section p {
    font-size: 16px;
    color: #8987A1;
    line-height: 150%;
    margin-top: 10px;
}
.footer-section ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.footer-section ul li a {
    text-decoration: none;
    color: #8987A1;
}
.footer-section ul {
    margin-top: 20px;
    text-align: center;
}

/* Footer Section Design End */



